<div class="date-option">
  <div class="date-top">
    <span class="date">{{day}}, {{date}}</span>
    <span class="date-free-places">Freie Plätze</span>
  </div>
  <div class="date-bottom">
    <div class="date-switch">
      <div class="switch">
        <input class="switch-input" id="dateSwitch{{day}}" type="radio" checked name="dateSwitchGroup">
        <label class="switch-paddle" for="dateSwitch{{day}}">
          <span class="show-for-sr">{{date}}</span>
        </label>
      </div>
    </div>
    <span class="date-number-of-places">{{number-of-places}}</span>
  </div>
</div>
