<section class="event">
  {{> section-top-border }}
  <div class="row align-justify">
    <div class="columns small-12 medium-5 large-4">
      <h2>Dienstag <br> bis Donnerstag <br> 2. bis 4. April <br> ab 18.30 Uhr</h2>
    </div>
    <div class="columns small-12 medium-7">
      <p>
        bühler&bühler testet in seinem «Creative & Digital Lab» im Steinfels-Areal immer wieder neue Ideen und Technologien und denkt über den Tellerrand. So auch mit HADO. Deshalb laden wir dich inkl. Begleitung ein an einem der drei Abende im April. Nebst Spielspass servieren wir unser hauseigenes Bier und passendes japanisches Essen (auch vegan).
      </p>
    </div>
  </div>
  {{> image-gallery }}
</section>
