<footer>
  <div class="row">
    <div class="columns small-12 medium-7">
      <span class="title">Powered by</span>
      <div class="buhler-logo">
        <span>Bühler und Bühler</span>
        <span>Bühler und Bühler</span>
        <span>Bühler und Bühler</span>
        <span>Bühler und Bühler</span>
        <span>Bühler und Bühler</span>
        <span>Bühler und Bühler</span>
      </div>
    </div>
    <div class="columns small-12 medium-5 large-4 small-logos">
      <span>LAB Logo</span>
      <span>epikk Logo</span>
    </div>
  </div>
</footer>
