<div class="rows">
  <div class="columns small-12">
    <form class="anmelde-formular">
      <div class="name">
        <label for="name_input">Name</label>
        <input type="text" id="name_input">
      </div>
      <div class="phone">
        <label for="phone_input">Telefon</label>
        <input type="text" id="phone_input">
      </div>
      <div class="mail">
        <label for="mail_input">E-Mail</label>
        <input type="text" id="mail_input">
      </div>
      <div class="entourage">

      </div>

    </form>
  </div>
</div>
