<section class="intro-section">
  {{> section-top-border }}
  <div class="row align-justify">
    <div class="columns small-12 medium-4">
      <h1><span class="primary-text">HADO</span> <br> präsentiert <br> von <br> bühler&bühler</h1>
    </div>
    <div class="columns small-12 medium-7">
      <p class="bold">
        HADO verbindet Tradition und Zukunft. Der eSport mit Augmented-Reality-Technologie wird mit Virtual-Reality-Brille und Bewegungssensor am Hand-gelenk gespielt – alles in realer Umgebung. Mit Gesten Superkräfte aktivieren und seine Gegner angreifen. Spass garantiert.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="columns empty small-0 medium-5">

    </div>
      <div class="columns small-12 medium-4">
        {{> anmelde-button }}
      </div>
  </div>
</section>
