<section class="intro-section">
  {{> section-top-border }}
  <div class="rows">
    <div class="columns small-12">
      <h1><span class="primary-text">HADO</span> <br> präsentiert <br> von <br> bühler&bühler</h1>
      <p>
        HADO verbindet Tradition und Zukunft. Der eSport mit Augmented-Reality-Technologie wird mit Virtual-Reality-Brille und Bewegungssensor am Hand-gelenk gespielt – alles in realer Umgebung. Mit Gesten Superkräfte aktivieren und seine Gegner angreifen. Spass garantiert.
      </p>
    </div>
  </div>
  <div class="rows">
      <div class="columns small-12">
        {{> anmelde-button }}
      </div>
  </div>
</section>
