<div data-sticky-container>
  <div class="top-bar align-top" data-sticky data-margin-top="0" id="example-menu" data-sticky-on="small">
    <ul class="menu" data-smooth-scroll>
      <li><a href="#anmelden">ANMELDEN</a></li>
      <li><a href="#standort">STANDORT</a></li>
    </ul>
    <ul class="vertical menu align-center">
      <li><a href="https://www.facebook.com/buehlerundbuehler" target="_blank">FB</a></li>
      <li><a href="https://www.instagram.com/buehler.buehler/" target="_blank">IG</a></li>
      <li><a href="https://www.buehler-buehler.ch/" target="_blank">&</a></li>
    </ul>
  </div>
</div>
