<nav class="navbar">
  <div class="row align-justify">
    <div class="columns small-6 medium-5 large-4">
      <ul class="navbar-menu-left" data-smooth-scroll>
        <li><a href="#anmelden">ANMELDEN</a></li>
        <li><a href="#standort">STANDORT</a></li>
      </ul>
    </div>
    <div class="columns small-2">
      <ul class="navbar-menu-right">
        <li><a href="https://www.facebook.com/buehlerundbuehler" target="_blank"><img src="{{root}}assets/img/icon-facebook.svg" alt="Facebook Icon" class="navbar-icon"></a></li>
        <li><a href="https://www.instagram.com/buehler.buehler/" target="_blank"><img src="{{root}}assets/img/icon-instagram.svg" alt="Instagram Icon" class="navbar-icon"></a></li>
        <li><a href="https://www.buehler-buehler.ch/" target="_blank"><img src="{{root}}assets/img/icon-buehler.svg" alt="Bühler&Bühler Icon" class="navbar-icon"></a></li>
      </ul>
    </div>
  </div>
</nav>
