<!-- <nav class="row">
  <div class="columns small-12">
    <div data-sticky-container>
      <div class="top-bar align-top" data-sticky data-margin-top="0" id="menu-container data-sticky-on="small">
        <ul class="menu" data-smooth-scroll>
          <li><a href="#anmelden">ANMELDEN</a></li>
          <li><a href="#standort">STANDORT</a></li>
        </ul>
        <ul class="vertical menu align-center">
          <li><a href="https://www.facebook.com/buehlerundbuehler" target="_blank">FB</a></li>
          <li><a href="https://www.instagram.com/buehler.buehler/" target="_blank">IG</a></li>
          <li><a href="https://www.buehler-buehler.ch/" target="_blank">&</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
 -->


<nav class="navbar">
  <div class="row align-justify">
    <div class="columns small-6 medium-5 large-4">
      <ul class="navbar-menu-left" data-smooth-scroll>
        <li><a href="#anmelden">ANMELDEN</a></li>
        <li><a href="#standort">STANDORT</a></li>
      </ul>
    </div>
    <div class="columns small-1 medium-3">
      <ul class="navbar-menu-right">
        <li><a href="https://www.facebook.com/buehlerundbuehler" target="_blank">FB</a></li>
        <li><a href="https://www.instagram.com/buehler.buehler/" target="_blank">IG</a></li>
        <li><a href="https://www.buehler-buehler.ch/" target="_blank">&</a></li>
      </ul>
    </div>
  </div>
</nav>
