<section class="standort">
  <div class="anchor-target" id="standort"></div>
  {{> section-top-border}}
  <div class="row align-justify">
    <div class="columns small-12 medium-5 large-40">
      <h2>standort</h2>
      <p>
        b&b LAB <br> c/o bühler&bühler AG <br> Heinrichstrasse 267c / 3. Stock <br> 8005 Zürich
      </p>
    </div>
    <div class="columns small-12 medium-7">
      <div class="standort-map">
        <div data-interchange="[{{root}}assets/map/map-mobile.html, small], [{{root}}assets/map/map-desktop.html, medium]">
        </div>
      </div>
    </div>
  </div>
</section>
