<section class="standort">
  <div class="anchor-target" id="standort">
  {{> section-top-border}}
  <div class="row">
    <div class="columns small-12 medium-4">
      <h2>standort</h2>
      <p>
        b&b LAB <br> c/o bühler&bühler AG <br> Heinrichstrasse 267c / 3. Stock <br> 8005 Zürich
      </p>
    </div>
    <div class="columns small-12 medium-7">
      <div class="standort-map">
        <h2>Here comese the map - Image on small devices, map on large devices?</h2>
      </div>
    </div>
  </div>
</section>
