@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import 'flicker';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
@include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;



// Custom styles

body {
  background: black;
}

* {
  color: white !important;
}

h1 {
  font-family: Dosis;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2.16px;
  line-height: 29px;
  text-shadow: -3px 0 21px 0 #FFFFFF;
  text-transform: uppercase;
}

h2 {
	font-family: Dosis;
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 2.16px;
	line-height: 29px;
	text-shadow: -3px 0 21px 0 #FFFFFF;
  text-transform: uppercase;
}

p {
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: 0.42px;
  line-height: 20px;
}

label {
	font-family: Dosis;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.28px;
	line-height: 20px;
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.primary-text {
  color: $primary-color;
}

.top-bar {
  background: linear-gradient(black, rgba(255, 0, 0, 0));
  * {
    background-color: rgba(255, 0, 0, 0) !important;
    color: white !important;
    &:hover{
      color: $primary-color !important;
    }
  }
}

.flickering-line {
  height: 2px;
  width: 100%;
  border-radius: 1px;
  background: $primary-color;
  box-shadow: 0px 0px 20px 10px rgba(126, 211, 33, .3);
}

.button {
  box-shadow: 0 0 20px 10px rgba($primary-color, .3) inset, 0 0 20px 10px rgba($primary-color, .3);
  transition: all 0.25s ease-in-out;
}

.date-option {
  padding: 15px;
  border: 1px solid #515151;
  border-radius: 8px;
}

.date-top, .date-bottom {
  display: flex;
  justify-content: space-between;
}

.date, .date-free-places {
	font-family: Dosis;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.62px;
	line-height: 16px;
  text-transform: uppercase;
}
.date-free-places {
  text-transform: uppercase;
}
.date-bottom {
  display: flex;
  align-items: flex-end;
}
.date-number-of-places {
	font-family: "Open Sans";
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 0.22px;
	line-height: 40px;
}

.switch {
  margin-bottom: 0;
}

// .switch {
//   input:checked {
//     ~label {
//       border: 1px solid $primary-color;
//     }
//   }
// }

.primary-border {
  border: 1px solid $primary-color;
  box-shadow: 0 0 5px $primary-color;
}

.switch-paddle {
  border: 1px solid #D5D5D5;
  box-sizing: content-box;
}

.anmelde-formular {
  input {
    font-family: Dosis;
  	font-size: 16px;
  	font-weight: 500;
  	letter-spacing: 0.28px;
  	line-height: 20px;
  }
}

.footer-small-logos {
  display: flex;
  justify-content: space-between;
}

input {
  &.disabled {
    border: 1px solid rgba(#7ED321, .25);
    box-shadow: none;
  }
}
